.acf-table-wrapper {
  overflow-x: auto;
	
}

.acf-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Space Grotesk", sans-serif;
  color: #3a2d25;
  background: transparent;
  font-weight: 600;
  font-size: 18px;
	
}

.acf-table caption {
  caption-side: top;
  text-align: left;

  margin-bottom: 1em;
}

.acf-table thead th {
  color: #03a657!important;
  text-align: left;

  border-bottom: 1px solid #e0e0e0;
}

.acf-table td {
  border-bottom: 1px solid #e0e0e0;
  vertical-align: top;
  color:#422520;
}

@media (max-width: 768px) {
  .acf-table {
    font-size: 0.9em;
  }

  .acf-table caption {
    font-size: 1em;
  }
}
